<%- contentFor('body') %>
<div>
    <div
        class="col-md-6 shadow p-3 bg-white rounded"
        style="height: 40%; margin-bottom: 1em"
    >
        <h2>Cadastrar Editora</h2>
        <% data.forEach(function(details) { %>
        <form action="/editora/<%= details._id %>" method="POST">
            <label for="cnpj">CNPJ</label>
            <input
                class="form-control form-control-sm"
                required
                type="text"
                class="form-control"
                name="cnpj"
                value="<%= details.cnpj %>"
                id="cnpj"
                placeholder="CNPJ"
            />
            <label for="razao">Razão Social</label>
            <input
                class="form-control form-control-sm"
                name="razao"
                required
                type="text"
                name="razao"
                value="<%= details.razao %>"
                id="razao"
            />
            <label for="contato">Contato</label>
            <input
                required
                type="text"
                class="form-control form-control-sm"
                name="contato"
                value="<%= details.contato %>"
                id="contato"
            />
            <label for="telefone">Telefone</label>
            <input
                required
                type="tel"
                name="telefone"
                class="form-control form-control-sm"
                id="telefone"
                value="<%= details.telefone %>"
                placeholder="Telefone"
            />
            <label for="endereco">Endereço</label>
            <input
                required
                type="text"
                class="form-control form-control-sm"
                name="endereco"
                value="<%= details.endereco %>"
                id="endereco"
                placeholder="Endereço"
            />
            <label for="descricao" style="font-size: 1rem">Descrição</label>
            <input 
            class="form-control form-control-sm" 
            type="text" placeholder="Descrição" 
            name="descricao"
            value="<%= details.descricao %>"
            >
            <div class="form-group" style="padding-top: 1rem">
                <button class="btn btn-primary" type="submit">Salvar</button>
            </div>
        </form>
    <% }) %> 
    </div>
</div>

<script src="/javascript/maskPhone.js"></script>
