<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>My CRUD in NodeJS</title>
</head>

<body>
    <h2>Editar Registro</h2>
    <% data.forEach(function(details) { %>
    <form action="/pub/<%= details._id %>" method="POST">
        <input type="text" placeholder="Nome" value="<%= details.name %>" name="name" />
        <input type="text" placeholder="Descrição" value="<%= details.description %>" name="description" />
        <input type="text" placeholder="Autor" name="autor" value="<%= details.autor %>" required />
        <input type="date" placeholder="Data de criação" name="createAt" value="<%= Date(details.createdAt) %>" required />
        <label>Tipo</label>
        <select name="type">
            <% const options = [ {value: "tcc", label: "TCC"}, {value:"article", label: "Artigo"} ]; %>
            <% for(const option of options) { %>
                <% const selected = option.value === details.type %>
                <option value='<%= option.value %>'><%= option.label %></option>
            <% } %>
        </select> 
        <input type="textarea" placeholder="Tags (use o prdfixo # e um espaçamento)" mame="tag"  value=<%= details.tag.join(' ') %> />
        <button type="submit">Submit</button>
        <br />
        <button><a href="/pub">Todos</a></button>
        <button type="submit">Editar</button>
    </form>
    <% }) %>
</body>

</html>