<%- contentFor('body') %>
<div>
    <h2>Editar Registro</h2>
    <% data.forEach(function(details) { %>
    <form action="/user/<%= details._id %>" method="POST">
        <input type="text" value="<%= details.firstname %>" name="name" />
        <input type="text" value="<%= details.lastname %>" name="lastname" />
        <input type="text" value="<%= details.cpf %>" name="cpf" />
        <br />
        <button type="submit">Editar</button>
    </form>
    <% }) %>
</div>
