<%- contentFor('body') %>
<div>
    <h2>Registros</h2>
    <div class="table-responsive">
        <table class="table table-striped ">
            <thead class="thead-dark">
                <tr>
                    <td>Nome</td>
                    <td>Descrição</td>
                    <td>Tipo</td>
                    <td>Autor</td>
                    <td>Data de criação</td>
                    <td>Tags</td>
                    <td>Açoões</td>
                </tr>
            </thead>
            <tbody>
                <% data.forEach(function(details) { %>
                <tr>
                    <td><%= details.name %></td>
                    <td><%= details.description %></td>
                    <% const typeOptions = [ {value: "tcc", label: "TCC"}, {value:"article", label: "Artigo"} ].find(el => el.value == details.type) %>
    
                    <td><%= typeOptions.label || "Não defiido" %></td>
                    <td><%= details.autor %></td>
                    <td><%= details.createAt %></td>
                    <% const tag = details.tag || [] %>
                    <td>
                        <% for(const badget of tag) {%>
                            <span class="badge badge-secondary"><%= badget %></span>
                        <% } %>
                    </td>
                    <td>
                        <a class="btn btn-info" href="/pub/edit/<%= details._id %>">Editar</a> -
                        <a class="btn btn-danger" href="/pub/delete/<%= details._id %>">Deletar</a>
                    </td>
                </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
    <a class="btn btn-primary" href="/pub/create">Novo</a>
</div>
